<!DOCTYPE html>
<html ng-app='serviceCalc'>
  <head>
    <meta charset="utf-8">
    <title>ToDo Calc</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller='AllController'>
    <div class="">
      <a href="/#/calc" ng-click='updateApp("calculator")' ng-class='isSelected("calculator")'>Calculator</a>
      <a href="/#/todo" ng-click="updateApp('todo')" ng-class='isSelected("todo")'>To Do List</a>
    </div>
    <ng-view></ng-view>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="controller/services.js" charset="utf-8"></script>
    <script src="controller/calccontroller.js" charset="utf-8"></script>
    <script src="controller/todocontroller.js" charset="utf-8"></script>
  </body>
</html>
